<!-- templates/lab_10/partials/header.html -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'lab-10:index' %}">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- LINK MENUJU ... -->
        {% if logged %}
            <li>
              <a href="{% url 'lab-10:movie_list' %}" class="btn btn-primary"> Daftar Movie </a>
            </li>
            <li>
              <a href="{% url 'lab-10:list_watch_later' %}" class="btn btn-warning"> Daftar Watch Later </a>
            </li>
            <li>
              <a href="{% url 'lab-10:list_watched' %}" class="btn btn-primary"> Daftar Watched Movies </a>
            </li>
            <li class= "btn-logout"><a href="{% url 'lab-10:auth_logout' %}" class="btn btn-danger" onclick="return confirm('Keluar?')">
              Logout </a>
            </li>
          </nav>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
