{% extends "lab_8/layout/base.html" %}
{% block content %}
  <!-- <div id="landing">
  </div> -->
  <div id="lab8" style="margin-top:1rem;">
  </div>

<!-- <button onclick="facebookLogout()">logout</button> -->
{% endblock %}
