body,html{
  height: 100%;
  margin: 0%;
  background-image: url("hero.714961241500.jpg");
  background-size: 100%;
}
.cover{
  max-width: 100%;
  height: 50%;
  width: 100%;
  opacity: 0.5;
}
.hero-image{
  overflow: auto;
  max-height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: static;
}
.hero-text{
  margin-top: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.picture{
  width: 50%;
}
@media only screen and (max-device-width: 1024px) {
    .hero-image {
        background-attachment: scroll;
    }
}
::-webkit-scrollbar {
    display: none;
}
.feed{
  color: black;
  border: 1px solid white;
  background-color: grey;
  margin: 10px;
}
.buttons{
  padding: 10px;
  text-align: center;
}
.logout{
    width: 100px;
    padding: 12px;
    background-color: #555555;
    color: white;
    border:2px;
}
.logout:hover{
    background-color: #f44336;
    color: white;
    border: 2px;
}
.postStatus{
  border: 2px;
  color: white;
  background-color: blue;
}
footer{
  color: white;
  background-color: black;
  padding: 10px;
}
.button-delete{
  background-color: #f44336;
  color: black;
  border: 2px;
  text-align: center;
}
.button-delete:hover{

}
