{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> Friend Fasilkom</h2>
                    <div id="friend-list" class="list-group">

                    </div>
            </div>
          </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
<script>
      $( document ).ready(function () {
          // {# lengkapi pemanggilan ajax berikut untuk mengambil daftar teman yang ada di database #}
          $.ajax({
              method: "GET",
              url: '{% url "lab-7:get-friend-list" %}',//#URL untuk mendapatkan list teman,
              success: function (response) {
                  friend_list = response["data"];
                  console.log(friend_list);
                  for(index in friend_list){
                    friend = friend_list[index]
                    console.log(friend);
                    var button = '<span class="pull-right">'+
                                    '<button type="button" class="btn btn-xs btn-danger"'+
                                    'onClick="deleteFriend('+friend.id+')">'+
                                        '&times;'+
                                    '</button>'+
                                 '</span>';

                    var detail = '<span class="col-xs-4 col-md-2 pull-right">'+
                                    '<button type="button" class="btn btn-xs btn-default btn-block"'+
                                    'onClick="description('+friend.id+')">'+
                                        'detail'+
                                    '</button>'+
                                 '</span>';
                    var html = '<a class="list-group-item clearfix">'+
                                friend.friend_name +
                                ' (' + friend.npm + ')' + button + detail + '</a>';
                    $("#friend-list").append(html)
                  }
              }
          });
      });
      var deleteFriend = function(id) {
          $.ajax({
            method : 'POST',
            url : "{% url 'lab-7:delete-friend' %}",
            data : {'id' : id},
            dataType : 'json',
            success : function(response) {
              $('#' + response.id).hide()
              location.reload()
            },
            error : function(error) {
              alert('error')
            }
          });
      };


</script>


{% endblock %}
